In [29]:
import pandas as pd 
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [30]:
data=pd.read_csv('DHF.csv')
data_new=data.iloc[:, 1:].copy()

In [31]:
info=data_new .to_numpy().tolist()

In [32]:
for values in info:
    for i in range(len(values)):
        s= ''
        if type(values[i])!=str:
            s=str(values[i])
            values[i]=s

In [33]:
tr= TransactionEncoder()

In [34]:
t_info=tr.fit(info).transform(info)

In [35]:
df=pd.DataFrame(t_info, columns=tr.columns_)

In [38]:
frequent_items=apriori(df,min_support=0.60, use_colnames=True)
print(frequent_items)

      support                                           itemsets
0    0.731755                                        (Hall-Mess)
1    1.000000                                             (Male)
2    1.000000                                               (No)
3    1.000000                                           (No one)
4    0.986193                                           (Normal)
..        ...                                                ...
122  0.723866         (Normal, Yes, Single, No, Hall-Mess, Male)
123  0.723866     (Normal, Yes, Single, Hall-Mess, No one, Male)
124  0.723866       (Normal, Yes, Single, No, Hall-Mess, No one)
125  0.982249            (Normal, Yes, Single, No, No one, Male)
126  0.723866  (Normal, Yes, Single, No, Hall-Mess, No one, M...

[127 rows x 2 columns]

In [39]:
res=association_rules(frequent_items,metric='confidence',min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Hall-Mess),(Male),0.731755,1.000000,0.731755,1.000000,1.000000,0.000000,inf
1,(Male),(Hall-Mess),1.000000,0.731755,0.731755,0.731755,1.000000,0.000000,1.000000
2,(Hall-Mess),(No),0.731755,1.000000,0.731755,1.000000,1.000000,0.000000,inf
3,(No),(Hall-Mess),1.000000,0.731755,0.731755,0.731755,1.000000,0.000000,1.000000
4,(Hall-Mess),(No one),0.731755,1.000000,0.731755,1.000000,1.000000,0.000000,inf
...,...,...,...,...,...,...,...,...,...
1927,(Single),"(Normal, Yes, No, Hall-Mess, No one, Male)",0.998028,0.723866,0.723866,0.725296,1.001976,0.001428,1.005208
1928,(No),"(Normal, Yes, Single, Hall-Mess, No one, Male)",1.000000,0.723866,0.723866,0.723866,1.000000,0.000000,1.000000
1929,(Hall-Mess),"(Normal, Yes, Single, No, No one, Male)",0.731755,0.982249,0.723866,0.989218,1.007096,0.005100,1.646450
1930,(No one),"(Normal, Yes, Single, No, Hall-Mess, Male)",1.000000,0.723866,0.723866,0.723866,1.000000,0.000000,1.000000
1931,(Male),"(Normal, Yes, Single, No, Hall-Mess, No one)",1.000000,0.723866,0.723866,0.723866,1.000000,0.000000,1.000000